img {
    max-width: 100%;
    height: auto;
    width: auto;
}
.image {
    position: relative;
    text-align: center;
    color: pink;
  }
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
